# Print sum of all even numbers from 10 to 20

In [13]:
sum = 0
for i in range(10, 21, 2):
    sum = sum + i
print(sum)

90

# Print sum of all odd numbers from 73 to 99

In [12]:
sum = 0

for i in range(73, 100, 2):
    sum = sum + i
print(sum)

1204

# Calculate the square of each number of list

In [16]:
numbers = [1, 2, 3, 4, 5]
sq_num = []
for num in numbers:
    k = num**2
    sq_num = k
    print(sq_num)

1
4
9
16
25

# Calculate the average of list of numbers

In [18]:
numbers = [10, 20, 30, 40, 50]
sum_i = 0
for i in numbers:
    sum_i = sum_i + i
    avg = sum_i/len(numbers)
print(avg)

30.0

# Print all even and odd numbers from 0 to 20

In [21]:
for i in range(2, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [22]:
for i in range(2, 21):
    if i % 2 == 0:
        print("even number:", i)
    else:
        print("odd number:", i)

even number: 2
odd number: 3
even number: 4
odd number: 5
even number: 6
odd number: 7
even number: 8
odd number: 9
even number: 10
odd number: 11
even number: 12
odd number: 13
even number: 14
odd number: 15
even number: 16
odd number: 17
even number: 18
odd number: 19
even number: 20

# Use for loop to generate a list of numbers from 9 to 50 divisible by 2.

In [30]:
for i in range(10, 51, 2):
    print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

#  three types of loop control statements i.e., break, continue and pass.

### BREAK FOR LOOPS

In [33]:
# break the loop if number a number is greater than 15
numbers = [1, 4, 7, 8, 15, 20, 35, 45, 55]
for i in numbers:
    if i > 15:
        break
    else:
        print(i)

1
4
7
8
15

In [35]:
 for i in range(0, 99, 2):
        if i > 66:
            break
        else:
            print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66

# Continue Statement in for loop

In [41]:
# Example: Count the total number of ‘m’ in a given string.
name = "mariya mennen"
count = 0
for i in name:
    if i != "m":
        continue
    else:
        count = count + 1
print('Total number of m is:' , count)

Total number of m is: 2

# Pass Statement in for loop

In [54]:
num = [1, 4, 5, 3, 7, 8]
for i in num:
    # calculate multiplication in future if required
    pass

# Else block in for loop

In [58]:
for i in range(0,6):
    print(i)
else:
    print("DONE")

0
1
2
3
4
5
DONE

### Example 2: Both break and else statement

In [74]:
#we have a range of number 1:10 but we want to print the first five
count = 0
for i in range(1, 11):
    count = count + 1
    if count > 5:
        break
    else:
        print(i)
else:
    print("Done")

1
2
3
4
5

# REVERSE FOR LOOPS

### THIS CAN BE DONE USING THE RANGE() OR REVERSED() FUNCTION

In [2]:
# Reversed numbers using reversed() function
list1 = [10, 20, 30, 40]
for i in reversed(list1):
    print(i)

40
30
20
10

In [12]:
# print("Reverse numbers using for loop")
num = 5
# start = 5
# stop = -1
# step = -1
for num in (range(num, -1, -1)):
    print(num)

5
4
3
2
1
0

In [13]:
num = 10
for i in (range(10, 0, -1)):
    print(i)

10
9
8
7
6
5
4
3
2
1

### Reverse a list using a loop

In [15]:
numbers = [1, 2, 3, 4]
for i in numbers[::-1]:
    print(i)

4
3
2
1

In [23]:
numbers = [1, 2, 3, 4]
for i in numbers[::-1]:
    print(i)

4
3
2
1

# Nested for loops

In [24]:
# outer for loop
#for element in sequence 
   # inner for loop
   #for element in sequence:
       #body of inner for loop
   #body of outer for loop
#other statements

In [25]:
rows = 5
# outer loop
for i in range(1, rows + 1):
    # inner loop
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [36]:
number = 15
for i in range(1, number + 1):
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

# While loop inside for loop

In [2]:
# outer loop
for i in range(1, 6):
    print('Multiplication table of:', i)
    count = 1
    # inner loop to print multiplication table of current number
    while count < 11:
        print(i * count, end=' ')
        count = count + 1
    print('\n')

Multiplication table of: 1
1 2 3 4 5 6 7 8 9 10

Multiplication table of: 2
2 4 6 8 10 12 14 16 18 20

Multiplication table of: 3
3 6 9 12 15 18 21 24 27 30

Multiplication table of: 4
4 8 12 16 20 24 28 32 36 40

Multiplication table of: 5
5 10 15 20 25 30 35 40 45 50

In [16]:
numberss = range(1,6)
for i in range(1,6):
    print("multiplication of", i, "is: ")
    count = 1
    
    while count < 11:
        print(i * count, end= " ")
        count = count + 1
    print()

multiplication of 1 is:
1 2 3 4 5 6 7 8 9 10
multiplication of 2 is:
2 4 6 8 10 12 14 16 18 20
multiplication of 3 is:
3 6 9 12 15 18 21 24 27 30
multiplication of 4 is:
4 8 12 16 20 24 28 32 36 40
multiplication of 5 is:
5 10 15 20 25 30 35 40 45 50

# for loop in one line

In [17]:
# Print the even numbers by adding 1 to the odd numbers in the list

In [24]:
odd = [1, 5, 7, 9]
even_num = [i+1 for i in odd if i%2==1]
print(even_num)

[2, 6, 8, 10]

# Accessing the index in for loop

### enumerate() function accesses both Value and its Index

In [25]:
numbers = [4, 2, 5, 7, 8]
for i, v in enumerate(numbers):
    print('Numbers[', i, '] =', v)

Numbers[ 0 ] = 4
Numbers[ 1 ] = 2
Numbers[ 2 ] = 5
Numbers[ 3 ] = 7
Numbers[ 4 ] = 8

In [32]:
numbers = [4, 2, 5, 7, 8]
for i, v in enumerate(numbers):
    print([i],"=", v)

[0] = 4
[1] = 2
[2] = 5
[3] = 7
[4] = 8

### Printing the elements of the list with its index number using the range() function

In [33]:
numbers = [1, 2, 4, 6, 8]
size = len(numbers)
for i in range(size):
    print('Index:', i, " ", 'Value:', numbers[i])

Index: 0   Value: 1
Index: 1   Value: 2
Index: 2   Value: 4
Index: 3   Value: 6
Index: 4   Value: 8

In [40]:
numbers = [1, 2, 4, 6, 8]
size = len(numbers)
for i in range(size):
    print(i, numbers[i])

0 1
1 2
2 4
3 6
4 8

# Iterate String using for loop

In [43]:
# Access all characters of a string
name = "Jessa"
for i in name:
    print(i, end="")

Jessa

### Iterate string in reverse order

In [48]:
name = "Jessa"
for i in name[::-1]:
    print(i, end=" ")

a s s e J

In [54]:
name = "Jessa watson"
for i in name[2:10:1]:
    print(i, end="")

ssa wats

 # Iterate over words in a sentence using the split() function.

In [57]:
dialogue = "Remember, Red, hope is a good thing, maybe the best of things, and no good thing ever dies"
for i in dialogue.split():
    print(i, end=" ")

Remember, Red, hope is a good thing, maybe the best of things, and no good thing ever dies

In [59]:
dialogue = "Remember, Red, hope is a good thing, maybe the best of things, and no good thing ever dies"
for i in dialogue.split(","):
    print(i)

Remember
 Red
 hope is a good thing
 maybe the best of things
 and no good thing ever dies

# when iterating over a list using for loops, its done directly:

In [61]:
numbers = [2, 3, 5, 6, 7]
for i in numbers:
    print(i, end=" ")

2 3 5 6 7

# when iterating over a list using for loops and Range, its done by find the length of the list and then looping through the length:

In [63]:
numbers = [2, 3, 5, 6, 7]
size = len(numbers)
for i in range(size):
    print(numbers[i])

2
3
5
6
7

#  list comprehension

In [67]:
numbers = [2, 3, 5, 6, 7]
[print(i, end=" ") for i in numbers]

2 3 5 6 7

[None, None, None, None, None]

# Iterate Dictionary using for loop used to store the items in the format of key-value pair

In [68]:
dict1 = {1: "Apple", 2: "Ball", 3: "Cat"}
dict2 = {"Brand": "BMW", "Color": "Black", "Date": 1964 }

### Access only the keys of the dictionary.

In [69]:
dict2 = {"Brand": "BMW", "Color": "Black", "Date": 1964 }
for i in dict2:
    print(i)

Brand
Color
Date

# Access only the Values of the dictionary.

In [72]:
dict2 = {"Brand": "BMW", "Color": "Black", "Date": 1964 }
for i in dict2:
    print(dict2[i])

BMW
Black
1964

# Iterate keys and values of the dictionary

In [73]:
dict2 = {"Brand": "BMW", "Color": "Black", "Date": 1964 }
for i in dict2:
    print(i, "=", dict2[i])

Brand = BMW
Color = Black
Date = 1964

In [75]:
# print all numbers after the first three and then the second three
a = [ 1, 3, 5, 9, 3, 7, 10]
pos1 = a.index(3)
print(pos1)

1

In [80]:
pos2 = a.index(3, pos1 + 1)
print(pos2)

4

In [82]:
for i in a[2:4]:
    print(i, end=' ')

5 9

In [91]:
for i in a[5:7]:
    print(i, end=' ')

7 10

In [89]:
for i in a[2:4]:
    print(i, end=' ')
for i in a[5:7]:
    print(i, end=' ')

5 9 7 10

In [109]:
a = [ 1, 3, 5, 9, 3, 7, 10]
for i, v in enumerate(a):
    print([i],"=", v)

[0] = 1
[1] = 3
[2] = 5
[3] = 9
[4] = 3
[5] = 7
[6] = 10

In [114]:
a = [ 1, 3, 5, 9, 3, 7, 10]
size = len(a)
for i in range(size):
    print([i], "=", a[i])

[0] = 1
[1] = 3
[2] = 5
[3] = 9
[4] = 3
[5] = 7
[6] = 10