In [4]:
import pandas as pd
import numpy as np

In [34]:
path = "C:/Users/User/Desktop/tmdb-movies.csv"
movie_data = pd.read_csv(path)
movie_data.head()
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

# Removing default index and indexing by id
#### i did but i had to undo it, it restricted the manipulation of the df wen it was done based on the id column like wen i called the duplicated() method. I'll be leaving it for future reference tho.

# Copying the original df to work on the copy

In [37]:
movie_data2 = movie_data.copy()
# movie_data2 = movie_data2[cols].set_index("id").head()

In [38]:
cols = movie_data2.columns
cols

Index(['id', 'imdb_id', 'popularity', 'budget', 'revenue', 'original_title',
       'cast', 'homepage', 'director', 'tagline', 'keywords', 'overview',
       'runtime', 'genres', 'production_companies', 'release_date',
       'vote_count', 'vote_average', 'release_year', 'budget_adj',
       'revenue_adj'],
      dtype='object')

In [43]:
movie_data2.head(3)

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08


# Finding and removing duplicates based on the ID column since ID ought to be unique

In [29]:
# this gives the sum of duplicates in the id column

movie_data.id.duplicated().sum()

1

In [31]:
# this shows the row with the duplicate id
# duplicate = movie_data[movie_data.duplicated('id')]
# duplicate

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
2090,42194,tt0411951,0.59643,30000000,967000,TEKKEN,Jon Foo|Kelly Overton|Cary-Hiroyuki Tagawa|Ian...,NaN,Dwight H. Little,Survival is no game,...,"In the year of 2039, after World Wars destroy ...",92,Crime|Drama|Action|Thriller|Science Fiction,Namco|Light Song Films,3/20/10,110,5.0,2010,30000000.0,967000.0

#### This finds and removes one of the duplicate id in the dataframe

In [48]:
movie_data2 = movie_data2.drop_duplicates('id', keep='last')
movie_data2.head(3)

# i used it to confirm the count of the rows to be sure one is out since we have one duplicate id
movie_data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10865 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10865 non-null  int64
 1   imdb_id               10855 non-null  object
 2   popularity            10865 non-null  float64
 3   budget                10865 non-null  int64
 4   revenue               10865 non-null  int64
 5   original_title        10865 non-null  object
 6   cast                  10789 non-null  object
 7   homepage              2936 non-null   object
 8   director              10821 non-null  object
 9   tagline               8041 non-null   object
 10  keywords              9372 non-null   object
 11  overview              10861 non-null  object
 12  runtime               10865 non-null  int64
 13  genres                10842 non-null  object
 14  production_companies  9835 non-null   object
 15  release_date          10865 non-null  object
 16  vote_count            10865 non-null  int64
 17  vote_average          10865 non-null  float64
 18  release_year          10865 non-null  int64
 19  budget_adj            10865 non-null  float64
 20  revenue_adj           10865 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.8+ MB

# Checking for NA and NaN values in the df

In [51]:
movie_data2.isna().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7929
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [54]:
movie_data2.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7929
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64