In [2]:
print("This is my first program")

This is my first program

In [3]:
print("Now, i will learn python")

Now, i will learn python

In [4]:
#the above statement is meant for first program

In [8]:
# the above statement is meant for first program
# select all then ctrl plus slash to comment or uncomment multiple lines

In [6]:
print(10 + 4)

14

In [7]:
print(10 // 4)

2

In [9]:
print(10 % 4)

2

In [10]:
x = 10
type(x)

int

In [12]:
x = True
type(x)

bool

In [14]:
x = 3 + 2j

In [15]:
type(x)

complex

In [16]:
x = [1, 2, 3, 'hello']

In [17]:
type(x)

list

In [18]:
x = (1, 2, 3, 'hello')
type(x)

tuple

In [19]:
x = {1, 2, 3, 'hello'}
type(x)

set

In [21]:
x = {'black': 11, 'blue': 12, 'green': 13}
type(x)

dict

# user input and print statement

In [22]:
input()

10

'10'

In [28]:
input('enter ur age ')

enter ur age 22

'22'

In [29]:
x = int(input('enter ur age: '))

enter ur age: 22

In [27]:
print(x)

22

In [30]:
print('my age is', x)

my age is 22

In [31]:
#formatting print statements

In [32]:
age = int(input('Sam : enter your age: '))
x = age + 30

Sam : enter your age: 22

In [33]:
print(x)

52

In [35]:
print("sam is",age,"years old and his dad is",x,"years old")

sam is 22 years old and his dad is 52 years old

In [37]:
print("sam is {a} years old and his dad is {b} years old" . format(a=age, b=x))

sam is 22 years old and his dad is 52 years old

In [40]:
print("sam is {0} years old and his dad is {1} years old" . format(age,x))

sam is 22 years old and his dad is 52 years old

In [41]:
print("sam is {} years old and his dad is {} years old" . format(age,x))

sam is 22 years old and his dad is 52 years old

In [42]:
5%10

5